<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>DF11C142-1584-4A99-87AC-1925D5F5652A</string>
		<string>DFFB3951-EB0A-4C09-9DAC-5F2D28CC839C</string>
		<string>B395D63E-9166-4CD6-9287-6889D507AD6A</string>
		<string>8CC8AD71-C38D-4C1A-A34B-DC78BCE76F57</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 SmileyKeith. All rights reserved.</string>
	<key>XC4Compatible</key>
	<true/>
	<key>XCGCReady</key>
	<false/>
	<key>XCPluginHasUI</key>
	<false/>
</dict>
</plist>
