<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>CA351AD8-3176-41CB-875C-42A05C7CDEC7</string>
		<string>DFFB3951-EB0A-4C09-9DAC-5F2D28CC839C</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 SmileyKeith. All rights reserved.</string>
	<key>XC4Compatible</key>
	<true/>
	<key>XCGCReady</key>
	<false/>
	<key>XCPluginHasUI</key>
	<false/>
</dict>
</plist>
